__pycache__/
*.pyc

.vscode

github_access_token
!config
config/*
!config/ceae-db.env
!config/.env
!config/openweather_cities.yml
cron_logs/
notebooks/
data/

scripts/aws
scripts/install-poetry-custom.py
scripts/poetry_adds
scripts/test_fetch_poetry_metadata_urllib.py